//default
@use "mixins/mixins.scss" as *;

@include b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: #409eff;
    border-color: #c6e2ff;
    background-color: #ecf5ff;
  }

  //primary
  @include m(primary) {
    color: #fff;
    background-color: #409eff;
    border-color: #409eff;

    &:hover,
    &:focus {
      background: #66b1ff;
      border-color: #66b1ff;
      color: #fff;
      outline: none;
    }
  }

  //success
  @include m(success) {
    color: #fff;
    background-color: #67c23a;
    border-color: #67c23a;

    &:hover,
    &:focus {
      background: #85ce61;
      border-color: #85ce61;
      color: #fff;
      outline: none;
    }
  }

  //info
  @include m(info) {
    color: #fff;
    background-color: #909399;
    border-color: #909399;

    &:hover,
    &:focus {
      background: #a6a9ad;
      border-color: #a6a9ad;
      color: #fff;
      outline: none;
    }
  }

  //warning
  @include m(warning) {
    color: #fff;
    background-color: #e6a23c;
    border-color: #e6a23c;
    outline: none;

    &:hover,
    &:focus {
      background: #ebb563;
      border-color: #ebb563;
      color: #fff;
      outline: none;
    }
  }

  //danger
  @include m(danger) {
    color: #fff;
    background-color: #f56c6c;
    border-color: #f56c6c;
    outline: none;

    &:hover,
    &:focus {
      background: #f78989;
      border-color: #f78989;
      color: #fff;
      outline: none;
    }
  }

  // min small medium
  @include m(mimn) {
    padding: 7px 15px;
    font-size: 12px;
    border-radius: 3px;
  }

  @include m(small) {
    padding: 9px 15px;
    font-size: 12px;
    border-radius: 3px;
  }

  @include m(medium) {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
  }
}