@use 'mixins/mixins.scss' as *;

@include b(tree) {
  display: inline-block;
  width: 100%;

  .unfold {}

  .shrink {}
}

@include b('tree-node') {
  padding: 3px 0;
  font-size: 14px;
  box-sizing: border-box;
  transition: 3.5s all;

  &:hover {
    background: rgba(255, 255, 255, 0.09);
  }

  @include e('content') {
    cursor: pointer;
  }

  @include e('expand-icon') {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(0deg);
    transition: transform 0.2s ease-in;
    cursor: pointer;

    &.expaned {
      transform: rotate(90deg);
    }

    &.is-leaf {
      fill: transparent;
      cursor: default;
    }
  }
}